table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto; /* Esto centra el contenedor horizontalmente */

}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f5f5f5;
}
  button {
    padding: 10px 20px;
    background-color: #cc2828;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
  button:hover {
    background-color: #831313;
}
  